  
* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}
.navlogo {
    height: 40px;
}




nav {
    background-color: white;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    height: 135px;
    text-align:center;

}

ul {
    list-style-type: none;
    display: inline;
    padding: 50px 50px;
    text-align: center;
    
}

ul li {
    font-size: 14px;
    display: inline;
    padding: 10px 0;
    font-family: normal;
    text-transform: uppercase;
    color: darkblue;
    display: inline-block;
    margin: 0 8px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #herosection {
    height: 50vh;
    width: 100vw;
    background-image: url(images/clear\ gym\ pic.webp);
    background-repeat: no-repeat;
   background-size: 100% 100%;
  
  }



 
.explorebox {
    height: 300px;
    width: 950px;
    display: inline-block;
}

.sll {
    width:700px;
    height:300px;
    float: right;
}

#Ourmission {
    float: left;
    text-align: center;
    

}

#video {
   
    float:right;
}

.colorbox {
    height: 300px;
    width: 472px;
    background-color: blue;
    display: inline-block;

}

#Academics {
    background-color: lightslategray;
}

#Admissions {
    background-color: lightsalmon;

}

#Athletics {
    background-color: lightseagreen;
}


#Technology {
    background-color: lightskyblue;
    
}

.twobox {
    display: inline-block;
    background-color: lightgrey;
    height: 500px;
    width: 948px;
}

#Contactus {
    background-image: url(Images/school\ pic.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.bottomrow {
    height: 300px;
    width: 472px;
    display:inline-block;
    background-color: yellow;
}

#Helpinghands {
    background-image: url(Images/helping\ hands.jpg);
    background-size: 100% 100%;
}

#Girls {
    background-image: url(images/lourdes.jpg);
    background-size: 100% 100%;
}

#Dads {
    background-image: url(images/dads.jpg);
    background-size: 100% 100%;
}

#Giardanos {
    background-image: url(images/giardinos.jpg);
    background-size: 100% 100%;
}

#footer {
    width: 100vw;
    height: 200px;
    background-color: darkblue;
}

.footerlogo{
    align-content: center;
    float: center;
}