  
* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}
.navlogo {
    height: 40px;
}




nav {
    background-color: white;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    height: 135px;
    text-align:center;

}

ul {
    list-style-type: none;
    display: inline;
    padding: 50px 50px;
    text-align: center;
    
}

ul li {
    font-size: 14px;
    display: inline;
    padding: 10px 0;
    font-family: normal;
    text-transform: uppercase;
    color: darkblue;
    display: inline-block;
    margin: 0 8px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #herosection {
    height: 50vh;
    width: 100vw;
    background-image: url(images/clear\ gym\ pic.webp);
    background-repeat: no-repeat;
   background-size: 100% 100%;
  
  }



 
.explorebox {
    height: 300px;
    width: 672px;
    display: inline-block;
}

.sll {
    width:700px;
    height:300px;
    float: right;
}

#Ourmission {
    float: left;
    text-align: center;
    vertical-align: center;
}

.colorbox {
    height: 300px;
    width: 334px;
    background-color: blue;
    display: inline-block;

}

#Academics {
    background-color: lightslategray;
}

#Admissions {
    background-color: lightsalmon;

}

#Athletics {
    background-color: lightseagreen
}


#Technology {
    background-color: lightskyblue

}